# https://github.com/rust-lang/rfcs/blob/master/text/1985-tiered-browser-support.md

last 2 Chrome versions
last 1 Firefox version
Firefox ESR
last 1 Safari version
last 1 iOS version
last 1 Edge version
last 1 UCAndroid version
