pnpm-lock.yaml

build
node_modules

# Not for these ready yet
.babelrc
*.js
*.json
*.ts
*.tsx
*.scss

# Slowly migrate files that we've touched
!AdvancedOptionsMenu.tsx
!BuildMenu.tsx
!ButtonSet.tsx
!ConfigElement.tsx
!Header.tsx
!HelpExample.tsx
!Notifications.tsx
!Output/Assembly.tsx
!Output/LlvmIr.tsx
!Output/OutputPrism.tsx
!Output/PaneWithCode.tsx
!Output/PaneWithMir.tsx
!Output/SimplePane.tsx
!Output/WarnAboutNoSymbols.tsx
!Playground.tsx
!PopButton.tsx
!Prism.tsx
!SimpleButtonMenuItem.tsx
!Stdin.tsx
!actions.ts
!api.ts
!compileActions.ts
!configureStore.ts
!editor/AceEditor.tsx
!editor/MonacoEditorCore.tsx
!editor/SimpleEditor.tsx
!editor/rust_monaco_def.ts
!eslint.config.mjs
!hooks.ts
!observer.ts
!prism-shim.ts
!reducers/**/*.ts
!selectors/index.spec.ts
!types.ts
!websocketActions.ts
!websocketMiddleware.ts
