# Copyright 2024 The Fuchsia Authors
#
# Licensed under a BSD-style license <LICENSE-BSD>, Apache License, Version 2.0
# <LICENSE-APACHE or https://www.apache.org/licenses/LICENSE-2.0>, or the MIT
# license <LICENSE-MIT or https://opensource.org/licenses/MIT>, at your option.
# This file may not be copied, modified, or distributed except according to
# those terms.

name: Backport PR
on:
  workflow_dispatch:
    inputs:
      commit:
        description: "Commit to backport"
        required: true
      target_branch:
        description: "Target branch for the new PR"
        required: true
        default: 'main'

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    permissions:
      contents: write # Need to write to repo to cherry-pick
      pull-requests: write # zizmor: ignore[excessive-permissions] (Needed to create pull requests)
    runs-on: ubuntu-latest
    name: Backport PR
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.inputs.target_branch }}
          # Check out the entire repository so that the target commit is checked
          # out (by default, only fetches the single commit identified by the
          # `ref` argument).
          fetch-depth: 0
          persist-credentials: false
      - name: Cherry-pick commit
        env:
          COMMIT: ${{ github.event.inputs.commit }}
        run: |
          set -eo pipefail

          AUTHOR_NAME="$(git log -1 --pretty='%an' "$COMMIT")"
          AUTHOR_EMAIL="$(git log -1 --pretty='%ae' "$COMMIT")"

          git config --global user.name "$AUTHOR_NAME"
          git config --global user.email "$AUTHOR_EMAIL"

          git cherry-pick "$COMMIT"

          PR_TITLE="$(git log -1 --pretty=%s)"
          echo "PR_TITLE=$PR_TITLE" >> $GITHUB_ENV

          AUTHOR="$AUTHOR_NAME <$AUTHOR_EMAIL>"
          echo "AUTHOR=$AUTHOR" >> $GITHUB_ENV

      - name: Submit PR
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0  # v8.1.0
        with:
          author: "${{ env.AUTHOR }}"
          committer: "${{ env.AUTHOR }}"
          title: "${{ env.PR_TITLE }}"
          branch: backport-${{ github.event.inputs.commit }}
          push-to-fork: google-pr-creation-bot/zerocopy
          token: ${{ secrets.GOOGLE_PR_CREATION_BOT_TOKEN }}
