name: Build & Tests

on:
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -Dwarnings

jobs:
  build_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # See `INTERNAL.md` for an explanation of these pinned toolchain
        # versions.
        toolchain: [ "1.61.0", "1.64.0", "nightly-2022-09-26" ]
        target: [ "i686-unknown-linux-gnu", "x86_64-unknown-linux-gnu", "arm-unknown-linux-gnueabi", "aarch64-unknown-linux-gnu", "powerpc-unknown-linux-gnu", "powerpc64-unknown-linux-gnu", "wasm32-wasi" ]
        features: [ "" , "alloc,simd", "alloc,simd,simd-nightly" ]
        manifest-path: [ "Cargo.toml", "zerocopy-derive/Cargo.toml" ]
        exclude:
          # Exclude any combination which uses a non-nightly toolchain but
          # enables nightly features.
          - toolchain: "1.61.0"
            features: "alloc,simd,simd-nightly"
          - toolchain: "1.64.0"
            features: "alloc,simd,simd-nightly"
          # Exclude any combination for the zerocopy-derive crate which
          # uses zerocopy features.
          - manifest-path: "zerocopy-derive/Cargo.toml"
            features: "alloc,simd"
          - manifest-path: "zerocopy-derive/Cargo.toml"
            features: "alloc,simd,simd-nightly"

    name: Build & Test (manifest-path:${{ matrix.manifest-path }}, toolchain:${{ matrix.toolchain }}, target:${{ matrix.target }}, features:${{ matrix.features }})

    steps:
    - uses: actions/checkout@v3

    - name: Install Rust with toolchain ${{ matrix.toolchain }} and target ${{ matrix.target }}
      uses: actions-rs/toolchain@v1
      with:
          toolchain: ${{ matrix.toolchain }}
          target: ${{ matrix.target }}
          # Only nightly has a working Miri, so we skip installing on all other
          # toolchains. This expression is effectively a ternary expression -
          # see [1] for details.
          #
          # [1]
          # https://github.com/actions/runner/issues/409#issuecomment-752775072
          components: clippy ${{ contains(matrix.toolchain, 'nightly') && ', miri' || '' }}

    # The features string contains commas which cannot be part of the cache
    # key for the Rust Cache action. Instead, we hash the features
    # to get a string of legal characters.
    - name: Set feature string for cache key
      run: |
        echo "FEATURES_HASH=$(echo ${{ matrix.features }} | sha256sum | cut -d ' ' -f 1)" >> $GITHUB_ENV

    - name: Rust Cache
      uses: Swatinem/rust-cache@v2.0.0
      with:
        key: "${{ matrix.toolchain }}-${{ matrix.target }}-${{ env.FEATURES_HASH }}-${{ hashFiles('**/Cargo.lock') }}"

    - name: Check
      run: cargo +${{ matrix.toolchain }} check --manifest-path ${{ matrix.manifest-path }} --target ${{ matrix.target }} --features "${{ matrix.features }}" --verbose

    - name: Build
      run: cargo +${{ matrix.toolchain }} build --manifest-path ${{ matrix.manifest-path }} --target ${{ matrix.target }} --features "${{ matrix.features }}" --verbose

    # When building tests for the i686 target, we need certain libraries which
    # are not installed by default; `gcc-multilib` includes these libraries.
    - name: Install gcc-multilib
      run: sudo apt-get install gcc-multilib
      if: ${{ contains(matrix.target, 'i686') }}

    - name: Run tests
      run: ${{ contains(matrix.toolchain, 'nightly') && 'RUSTFLAGS="-Z randomize-layout"' || '' }} cargo +${{ matrix.toolchain }} test --manifest-path ${{ matrix.manifest-path }} --target ${{ matrix.target }} --features "${{ matrix.features }}" --verbose
      # Only run tests when targetting x86 (32- or 64-bit) - we're executing on
      # x86_64, so we can't run tests for any non-x86 target.
      #
      # TODO(https://github.com/dtolnay/trybuild/issues/184#issuecomment-1269097742):
      # Run compile tests when building for other targets.
      if: ${{ contains(matrix.target, 'x86_64') || contains(matrix.target, 'i686') }}

    - name: Run tests under Miri
      # Skip the `ui` test since it invokes the compiler, which we can't do from
      # Miri (and wouldn't want to do anyway).
      run: RUSTFLAGS="-Z randomize-layout" MIRIFLAGS="-Z miri-symbolic-alignment-check" cargo +${{ matrix.toolchain }} miri test --manifest-path ${{ matrix.manifest-path }} --target ${{ matrix.target }} --features "${{ matrix.features }}" -- --skip ui
      # Only nightly has a working Miri, so we skip installing on all other
      # toolchains.
      #
      # TODO(#22): Re-enable testing on wasm32-wasi once it works.
      if: ${{ contains(matrix.toolchain, 'nightly') && matrix.target != 'wasm32-wasi' }}

    - name: Clippy check
      run: cargo +${{ matrix.toolchain }} clippy --manifest-path ${{ matrix.manifest-path }} --target ${{ matrix.target }} --features "${{ matrix.features }}" --verbose

  check_fmt:
    runs-on: ubuntu-latest
    name: Check Rust formatting
    steps:
      - uses: actions/checkout@v3
      - name: Check Rust formatting
        run: |
          set -e
          cargo fmt --check
          cargo fmt --check --manifest-path zerocopy-derive/Cargo.toml
          rustfmt --check tests/ui/*.rs
          rustfmt --check zerocopy-derive/tests/ui/*.rs

  check_readme:
    runs-on: ubuntu-latest
    name: Check README.md
    steps:
      - uses: actions/checkout@v3
      # Cache the `cargo-readme` installation.
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.0.0
      - name: Check README.md
        run: |
          set -e
          cargo install cargo-readme --version 3.2.0
          diff <(./generate-readme.sh) README.md
          exit $?

  check_msrv:
    runs-on: ubuntu-latest
    name: Check MSRV
    steps:
      - uses: actions/checkout@v3
      # Make sure that the MSRV in zerocopy's and zerocopy-derive's `Cargo.toml`
      # files are the same and are the same as the one we test for in CI.
      - name: Check MSRV
        run: |
          set -e

          function msrv {
            cargo metadata --manifest-path $1 --format-version 1 | jq -r '.packages[] | select(.name == "zerocopy").rust_version'
          }

          path_ci=.github/workflows/ci.yml
          ver_ci=$(<$path_ci yq '.jobs.build_test.strategy.matrix.toolchain[0] // ""' | grep .)

          path_zerocopy=Cargo.toml
          ver_zerocopy=$(msrv $path_zerocopy)

          path_zerocopy_derive=zerocopy-derive/Cargo.toml
          ver_zerocopy_derive=$(msrv $path_zerocopy_derive)

          if [[ "$ver_ci" == "$ver_zerocopy" && "$ver_ci" == "$ver_zerocopy_derive" ]]; then
            echo "Same MSRV ($ver_ci) found in '$path_ci', '$path_zerocopy', and '$path_zerocopy_derve'." \
              | tee -a $GITHUB_STEP_SUMMARY
            exit 0
          else
            echo "Different MSRVs found in '$path_ci' ($ver_ci), '$path_zerocopy' ($ver_zerocopy), and '$path_zerocopy_derve' ($ver_zerocopy_derive)." \
              | tee -a $GITHUB_STEP_SUMMARY >&2
            exit 1
          fi
